body {
    font-size: 16px;
    background-color: #EAEDED;

    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.main {
    padding-left:2em;
    padding-right:2em;
    margin-top: 4.5em;
    margin-bottom: 3em;
}

.nav__titulo{
    color:#d254a8;;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fefefe;
    top: 0;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 100;
    color: #d254a8;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}

.card{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    min-width:20em;
    
}

.card-body {
    background-color: #fefefe;
    width: auto;
}

.nav__titulo:hover {
    color: #d254a8;;
}

.navbar__logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
}

.fa-camera {
    font-size: 2em;
    color: #d254a8;
}

.fa-heart,
.fa-bookmark,
.fa-user,
.fa-ellipsis {
    font-size: 2em;
    margin-top: 0em;
    line-height: 1em;
    color: #d254a8;
}


.fa-ellipsis{
    margin-right: 0.2em;
}

.fa-user {
    align-items: center;
    margin-left: 0;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
    margin-right: 0.5em;
}

.fa-heart {
    margin-top: 0.1em;
}

.encabezado {
    display: flex;
    justify-content:space-between;
    padding: 0.3em;
    height: 2.8em;
    box-sizing: border-box;
    background-color: #fefefe;
    align-items: center;
    line-height: 1em;
    width: 100%;
}

.encabezado__opciones {
    align-items: center;
}

.encabezado__perfil-nombre {
    display: flex;
    margin-top: 1.1em;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
}

.encabezado__perfil {
    display: flex;
    align-items: center;
}

.card-img-top {
    display: flex;
    height: 400px;
    width: 100%;
    margin: 0;
    border: 0;

}

.caja__contenedora {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: auto;
    justify-content: center;
    align-items: center;

}


.card {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    margin-top: 2em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    width: 20em;
}

.card-body{
    display: block;
    padding: 0 1em;
    width: 100%;
}
.card-text {
    display: flex;
    justify-content: space-between;

}

.fecha {
    margin-top: 5em;
    font-weight: lighter;
}

.perfil {
    border: 0.01em solid #111;
    padding: 0.1em;
}

@media(max-width:600px){
    .main{
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media(min-width:700px){
    .main{
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media(min-width:1025px){
    .main{
        padding-left: 7em;
        padding-right: 7em;
    }
}
